<center><h2>Dar de alta o editar cliente</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  Nombre:<br>
  <input type="text" name="nombre" ng-model="ctl.cliente.nombre">
  <br>
  Apellido:<br>
  <input type="text" name="apellido" ng-model="ctl.cliente.apellido">
  <br>
  Edad:<br>
  <input type="text" name="edad" ng-model="ctl.cliente.edad">
  <br>
  Teléfono:<br>
  <input type="text" name="telefono" ng-model="ctl.cliente.telefono">
  <br>
  Estado Civil:<br>
  <input type="text" name="estadoCivil" ng-model="ctl.cliente.estadoCivil">
  <br>
  Historial Compra:<br>
  <input type="text" name="historialCompra" ng-model="ctl.cliente.historialCompra">
  <br>
  Tipo Compra:<br>
  <input type="text" name="tipoCompra" ng-model="ctl.cliente.tipoCompra">
  <br>
  Ocupación:<br>
  <input type="text" name="ocupacion" ng-model="ctl.cliente.ocupacion">
  <br>
  Ubicación:<br>
  <input type="text" name="ubicacion" ng-model="ctl.cliente.ubicacion">
  <br>
  Código Postal:<br>
  <input type="text" name="codigoPostal" ng-model="ctl.cliente.codigoPostal">
  <br>
  Sexo:<br>
  <input type="text" name="sexo" ng-model="ctl.cliente.sexo">
  <br>
  <br>
  <input type="submit" value="Guadar">

</form> 